<div class="row">
  <div class="large-1 columns"><%= image_tag( avatar_url(trip.driver) ) %></div>

  <!-- only allow user to view trip details if they're signed in -->
  <div class="large-2 columns">
    <% if user_signed_in? %>
      <%= link_to trip.dept_date.strftime("%a, %m-%d-%y"), trip_path(trip.id) %>
    <% else %>
      <%= trip.dept_date.strftime("%a, %m-%d-%y") %>
    <% end %>
  </div>

  <!-- show the google map and render the route of the selected trip  map.js -->
  <div class="large-3 columns"><%= link_to trip.start_point.name,  trip_path(trip), :class => "map-modal" %></div>
  <div class="large-3 columns"><%= trip.end_point.name %></div>

  <!-- booking.js updates the seats available when the book button is clicked -->
  <div class="large-1 columns" id="seats-<%=trip.id%>"><%= trip.seats_available %></div>
  <div class="large-1 columns"><%= number_to_currency(trip.seat_cost) %></div>

  <!-- only allow user to book a seat on a trip if they're signed in -->
  <div class="large-1 columns">
    <!-- The  -->
    <% if user_signed_in? && ! (trip.id.in?(current_user.passengers.map &:trip_id)) %>
      <%= link_to "Book", book_path(trip), :class => "btn_book button" %>
    <% end %>
  </div>
</div>