<tr>
  <% if user_signed_in? %>
    <td><%= link_to trip.dept_date.strftime("%a, %m-%d-%y"), trip_path(trip.id) %></td>
  <% else %>
    <td><%= trip.dept_date.strftime("%a, %m-%d-%y") %></td>
  <% end %>
  <td><%= trip.start_point.name %></td>
  <td><%= trip.end_point.name %></td>
  <td id="seats-<%=trip.id%>"><%= trip.seats_available %></td>
  <td><%= number_to_currency(trip.seat_cost) %></td>
  <% if user_signed_in? %>
    <td><%= link_to "Book", book_path(trip), :class => "btn_book button" %></td>
  <% end %>
</tr>