<div class="row page-body">

  <%= render :partial => "errors" %>

  <h1>Alter Trip Information</h1>

  <div class="large-6 columns">
    <%= form_for(@trip, html: {class:'custom geocode'}) do |f| %>
      <%= label_tag(:dept_date, "Departure Date") %>
      <%= f.text_field(:dept_date, class: 'date') %>

      <%= label_tag(:total_seats, "Available Seats") %>
      <%= f.text_field(:total_seats) %>

      <%= label_tag(:seat_cost, "Price") %>
      <%= f.text_field(:seat_cost) %>

      <% @trip.locations.each do |location| %>
        <%= f.fields_for :locations, location do |location_fields| %>
          <%= label_tag(:name, location.trip_position == 0 ? 'Depart': 'Destination') %>
          <%= location_fields.text_field(:name, class:location.trip_position == 0 ? 'depart': 'destination' ) %>
          <%= location_fields.hidden_field :trip_position %>
        <% end %>
      <% end %>

      <%= f.submit "Save Trip" %>
      <%= link_to('Cancel Trip', @trip, method: :delete, :class => "button") %>
    <% end %>
  </div>

</div>