<div class="row page-body">

  <div class="large-4 columns">
    <h2>Add Trip</h2>
    <%= render :partial => "errors" %>
    <%= form_for(@trip, html: {class:'custom geocode'}) do |f| %>

      <%= label_tag(:dept_date, "Departure Date") %>
      <%= f.text_field(:dept_date, class: 'date') %>

      <%= label_tag(:total_seats, "Total Seats") %>
      <%= f.text_field(:total_seats) %>

      <%= label_tag(:seat_cost, "Price") %>
      <%= f.text_field(:seat_cost) %>

      <% @trip.locations.each do |location| %>
        <%= f.fields_for :locations, location do |location_fields| %>
          <%= label_tag(:name, location.trip_position == 0 ? 'Depart': 'Destination') %>
          <%= location_fields.text_field(:name, class:location.trip_position == 0 ? 'depart': 'destination' ) %>
          <%= location_fields.hidden_field :trip_position %>
        <% end %>
      <% end %>

      <%= f.submit "Save Trip" %>
    <% end %>
  </div>

   <div class="large-8 columns">
      <h2>All Your Trips</h2>
      <!-- display trip details for the user-->
      <div class="row">
        <div class="large-1 columns">Depart Date</div>
        <div class="large-2 columns">Departure</div>
        <div class="large-2 columns">Destination</div>
        <div class="large-1 columns">Total Seats</div>
        <div class="large-1 columns">Booked Seats</div>
        <div class="large-1 columns">Seat Price</div>
      </div>

      <!-- loop through all the trips associated with the user and list them here -->
       <% @driver_trips.each do |trip| %>
        <div class="row">
          <div class="large-1 columns"><%= link_to(trip.dept_date.strftime("%a, %m-%d-%y"), edit_trip_path(trip.id)) %></div>
          <div class="large-2 columns"><%= trip.start_point.name %></div>
          <div class="large-2 columns"><%= trip.end_point.name %></div>
          <div class="large-1 columns"><%= trip.total_seats %></div>
          <div class="large-1 columns"><%= trip.seats_available %></div>
          <div class="large-1 columns"><%= number_to_currency(trip.seat_cost) %></div>
        </div>
       <% end %>
   </div>
</div>