 <div class="row page-body">

  <%= render :partial => "errors" %>

  <h1>Trip Information</h1>
  <!-- include a route map -->
  <div class="large-12 columns">

      <ul>
        <!-- Driver Profile -->
        <li><span>Driver is </span><span><%= @trip.driver_id %></span></li>
        <!-- gravitar -->
        <!-- email and rating -->
        <!-- Trip Details -->
        <li><span>Departure Date </span><span><%= @trip.dept_date.strftime("%a, %m-%d-%y") %></span></li>
        <li><span>Departure Point </span><span><%= @trip.start_point.name %></span></li>
        <li><span>Destination </span><span><%= @trip.end_point.name %></span></li>
        <li><span>Available Seats </span><span id="seats-<%=@trip.id %>"><%= @trip.seats_available %></span></li>
        <li><span>Seat Price </span><span><%= number_to_currency(@trip.seat_cost) %></span></li>
      </ul>

      <%= link_to('Book Seat', book_path(@trip), :class => "btn_book button") %>

  </div>
</div>