<!-- Application Helper method title will reference this tag and render it's value in layout view-->
<% title 'This Trip' %>

 <div class="row page-body">
  <div class="large-12columns">
    <div class="row">
      <div class="large-12 columns">
        <%= render :partial => "errors" %>
         <h1>Trip Information</h1>
      </div>
    </div>

    <!-- Driver Profile -->
    <div class="row">
      <div class="large-6 columns"><%= image_tag( avatar_url(@trip.driver) ) %></div>
      <div class="large-6 columns"><%= @trip.driver.email %></div>
    </div>

    <!-- Trip Details -->
    <div class="row">
      <div class="large-6 columns">Departure Date</div>
      <div class="large-6 columns"><%= @trip.dept_date.strftime("%a, %m-%d-%y") %></div>
    </div>
    <div class="row">
      <div class="large-6 columns">Departure Point</div>
      <div class="large-6 columns"><%= @trip.start_point.name %></div>
    </div>
    <div class="row">
      <div class="large-6 columns">Destination</div>
      <div class="large-6 columns"><%= @trip.end_point.name %></div>
    </div>
    <div class="row">
      <div class="large-6 columns">Available Seats</div>
      <!-- booking.js updates the seats available-->
      <div class="large-6 columns" id="seats-<%= @trip.id %>"><%= @trip.seats_available %></div>
    </div>
    <div class="row">
      <div class="large-6 columns">Seat Price</div>
      <div class="large-6 columns"><%= number_to_currency(@trip.seat_cost)  %></div>
    </div>
    <div class="row">
      <div class="large-12 columns"><%= link_to('Book Seat', book_path(@trip), :class => "btn_book button") %></div>
    </div>
  </div>

  <!-- Show the route on a map -->
<!--   <div class="large-6 columns">
    <div id="map-canvas" style="width:400px; height:450px;"></div>
  </div>
</div> -->