<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />

<!-- Uncomment to make IE8 render like IE7 -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<title><%= content_for?(:title) ? yield(:title) : "ShareMyRide" %></title>

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "vendor/custom.modernizr" %>
<%= csrf_meta_tags %>
</head>

<body>
<!-- Header and Nav -->
<section id="main">

<div class="row header">
  <div class="large-3 columns">
    <h1>Sharemyride</h1>
  </div>
  <div class="large-9 columns">
    <ul class="button-group right">
      <li><a class="button" href="/">Home</a></li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->


<!-- First Band (Image) -->

<div class="row body">
  <div class="large-12 columns">
    <%= yield %>
  </div>
</div>
<div class="push">
</div>
</section>

<!-- Footer -->

<footer class="row footer">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright Sharemyride.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/">Home</a></li>
          <% if user_signed_in? %>
            <li><%= link_to('My Trips', new_trip_path) %></li>
            <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
            <li><%= link_to('Register', new_user_registration_path)  %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
