<!DOCTYPE html>
<html>
<head>
  <title>Sharemyride</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <!-- Devise menu options -->
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>

  <section>
    <!-- area for error messages related to the application-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>

  <%= yield %>

</body>
</html>
